/* Login box sizing */
#login {
  margin-left:auto;
  margin-right:auto;
  max-width:350px;
  margin-top:50px;
  background-color: white;
}

#search {
  color: black !important;
  border: 0px;
  outline: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid #424242;
  margin: 0px;
  padding: 0px;
  opacity: .3;
  width: 250px;
}

.fa-search {
  opacity: .7;
}

#search:focus {
  opacity: 1;
}

#user-dropdown {
  min-width: 150px;
}

/* Padding for navbar-fixed-top */
body {
  background-color: #F5F5F5;
}

/* Fix spacing around navbar */
.page-content{
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Colors for navbar */
.navbar > .container-fluid,
.navbar a,
.navbar a:hover {
  color: black !important;
  background-color: white;
}
.icon-bar {
  background-color: black;
}

.dropdown-header {
  font-size: 13px;
}

.navbar a.dropdown-toggle,
.navbar a.dropdown-toggle:hover,
.navbar a.dropdown-toggle:active
{
  background-color: white !important;
  border-bottom-color: transparent !important;
}

.dropdown-menu{
  background-color: white !important;
  min-width: 100%;
}

/* Top right #site-nav */
#site-nav a {
  opacity: .7;
  background-color: white !important;
  border-bottom-color: transparent !important;
}

#site-nav a:hover,
#site-nav a:active
{
  opacity: 1 !important;
  background-color: white !important;
  border-bottom-color: transparent !important;
}

/* Sets light background for dropdown hover */
/* (instead of standard active blue) */
ul.dropdown-menu a{
  opacity: .7;
  color:black !important;
}

.dropdown-menu > li > a:hover{
  opacity: 1;
  background-color: white !important;
}

/* Adds hover highlight for nav menu */
.navbar-right a:hover{
  background-color: #0288D1 !important;
}

/* Form validation errors on inline formsets */
.help-inline {
  /*color: #b94a48;*/
  color: #e53935;
}

/* Generic round/sharp for corners */
.sharp {
  border-radius:0;
}
.round {
  border-radius:12px;
}

/* Button group active/inactive colors */
form div.btn-group label.btn {
  color: white;
  background-color: #444;
}

form div.btn-group label.active {
  background-color: #0288D1;
}

.form-horizontal {
  width: 100% !important;
}

div.actions button.dropdown-toggle {
  color: white;
  background-color: #0288D1;
  text-align:right;
  min-width:100%;
}

.local-nav a {
  border-bottom: 3px solid transparent;
  opacity: .7;
  text-transform: uppercase;
}

.local-nav .dropdown a:not(.dropdown-toggle) {
  text-transform: none !important;
}

.local-nav a,
.local-nav a:hover,
.local-nav a:active,
.local-nav .dropdown a:hover,
.local-nav .dropdown a:active
{
  background-color: white !important;
}

.local-nav a:hover,
.local-nav a:active {
  opacity: .9;
}

.local-nav li.active > a,
.local-nav li.active > a:hover,
.local-nav li.active > a:active {
  opacity: 1;
  border-bottom-color: #0288D1 !important;
}

/* Decrease spacing below header */
div.container-fluid h2 {
  margin-bottom: -10px;
}

/* Decrease spacing on dd progress bars */
dd div.progress, td div.progress {
  margin: 1px;
}
.progress {
  border-radius: 2px;
}

/* Center text in progress bars */
/*.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}*/

/* Decrease spacing after table inside panel */
div.panel-body table,dl,ul {
  margin-bottom: 0;
}

/* Text select */
::selection {
  color: white;
  background: #0288D1;
}
::-moz-selection {
  color: white;
  background: #0288D1;
}

/* Flat buttons */
.btn, .btn:hover, .btn:active {
  border: none;
  background-image: none;
  line-height: 18px;
  padding-left: 16px;
  padding-right: 18px;
  font-weight: 600;
  font-size: 13px;
  text-shadow: none;
  transition: all 0.2s ease 0s;
}

.btn-link {
  padding: 0px !important;
}

/*.btn:hover:not(.disabled), .btn:active:not(.disabled) {*/
.btn:active:not(.disabled) {
  opacity: .8 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.milestone-danger {
  background-color: #e53935 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:active {
  background-color: #424242 !important;
}

.btn.btn-default.close:hover {
  background-color: #424242 !important;
  opacity: 1;
  color: white;
}

.btn.btn-default.close {
  background-color: #424242 !important;
  opacity: .7;
  color: white;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.milestone-info {
  background-color: #03A9F4 !important;
}

.btn-gray,
.btn-gray:hover,
.btn-gray:active {
  background-color: #666666 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.milestone-primary {
  background-color: #0288D1 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.milestone-success {
  background-color: #4CAF50 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.milestone-warning {
  background-color: #FF9800 !important;
}

/* Circle buttons */
@media (min-width: 768px) {
  .btn-circle {
    top: 24px;
  }
}

@media (max-width: 768px) {
  .nav.pull-right {
    margin-right: 1px;
  }
  .nav.pull-right > li {
    height: 22px;
    float: left !important;
    display: inline;
  }
  .collapse {
    overflow-y: visible !important;
  }
}

.btn-circle {
  position: absolute;
  margin-left: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.btn-circle i {
  color: white !important;
}

.btn-circle:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/* Nicer panels */
.panel {
  border-radius: 0px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  overflow: auto;
}

.panel-default > .panel-heading {
  background-color: white !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  padding-left: 4px !important;
}

/* Prevent wrapping text inside a panel table */
.panel-default > .panel-body > table {
  white-space: nowrap;
}

.panel-default > .panel-body th,
.panel-default > .panel-body td {
  border: none !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/* Add visual line when reading panel table */
/*.panel-default > .panel-body tr {
  border-bottom: 1px solid transparent;
}
.panel-default > .panel-body tr:hover {
  border-bottom-color: #E0E0E0;
}*/

/* Background color for table panels */
.table-responsive {
  background-color: white !important;
  padding: 15px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

/* Clickable table rows */
table.tr-links td:hover {
  cursor: pointer;
}
table.td-links td:hover {
  cursor: pointer;
}

/* Optionally prevent tables from being full width */
table.auto {
  width: auto;
}

/* Default sizing for 2 column detail tables */
table.detail-table td {
  min-width: 200px;
}

/* Rack elevation table resizing */
table.rack-table td {
  font-size: 13px;
  min-width: 200px;
  text-align: center;
}

table.rack-table th {
  font-size: 8px;
}

table.rack-table th div {
  font-size: 9px;
  margin-bottom: 9px;
}

table.rack-table div {
  max-height: 1px;
  display: block;
}

/* table for disceprency log */
table.dl-log {
  table-layout: fixed;
  white-space: normal!important;
}

table.dl-log td {
  word-wrap: break-word;
  width:90%
}

/*  class for notes for network device*/
.notes {
  white-space: pre-line!important; 
  padding-left:3%;
  margin-bottom: 20px;
}

/* API Browser panels */
.prettyprint {
  background-color: white !important;
}

#metadata {
  overflow: auto !important;
}

/* Match Select2 with Bootstrap form field size */
.form-group span {
  min-height: 38px !important;
  line-height: 38px !important;
}

/* Monospace font */
.monospace {
  font-family: monospace;
}

/* API Filters form */
#filtersModal form {
  padding-top: 20px;
}

/* Match height of buttons for inline forms */
.form-inline input {
  height: 34px !important;
}

/* Show full password */
.machine-password {
  width: 100%;
  font-family: monospace;
}

.note .tiny {
  font-size: 10px;
}

.note .note-heading {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.note pre {
  font-family: sans-serif;
}

.interstitial {
  background-color: rgba(0, 0, 0, 0.42);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000;
}

.float-right {
  float: right;
}

.warning {
  color: #FF9800 !important;
}

.inactive {
  text-decoration: line-through;
}