.vscode
*.pyc
pytest-report.xml
.idea
.DS_Store
db.sqlite3
/.coverage
__pycache__
.git
*requirements*
docker-compose.yml
script/
.pre-commit-config.yaml
.gitignore
.dockerignore
.envrc
.python-version
.pytest_cache