<ul class="nav nav-tabs">
  <li class="nav-item">
    {% url 'portscanner.hosts:hostscan' as scan_url %}
    <a class="nav-link {% if request.path == scan_url %} active {% endif %}" href={% url 'portscanner.hosts:hostscan' %}>Scan</a>
  </li>
  <li class="nav-item">
    {% url 'portscanner.hosts:results' as results_url %}
    <a class="nav-link {% if request.path == results_url %} active {% endif %}" href={% url 'portscanner.hosts:results' %}>All Results</a>
  </li>
  {% if slug %}
    <li class="nav-item">
      <a class="nav-link active" href={% url 'portscanner.hosts:results' slug %}>{{ slug }}</a>
    </li>
  {% endif %}
</ul>
